<h1> Fruits </h1>

<% @fruits.each do |fruit| %>
  <ul>
    <div class="fruit">
      <h3><p class="name"> <%= fruit[:name] %> </p></h3>
      <p class="family"> Family: <%= fruit[:family] %></p>
      <p class="order"> Order: <%= fruit[:order] %></p>
      <p class="genus"> genus: <%= fruit[:genus] %></p>
      <h4> Nutrition: </h4>
      <p class="nutrition"> Calories: <%= fruit[:nutritions][:calories] %></p>
      <p class="nutrition"> Fat: <%= fruit[:nutritions][:fat] %></p>
      <p class="nutrition"> Sugar: <%= fruit[:nutritions][:sugar] %></p>
      <p class="nutrition"> Carbohydrates: <%= fruit[:nutritions][:carbohydrates] %></p>
      <p class="nutrition"> Protein: <%= fruit[:nutritions][:protein] %></p>
      <br>
    </div>
  </ul>
<% end %>

<%= link_to "Find Similar Fruits by Nutrition Value", fruits_nutritional_path %>