<h1>Fruit Search</h1>
<div id=<%='fruit-search' %>>
   <%= form_with url: fruits_path, method: :get, data: { turbo: false } do |f| %>
      <%= f.label :search, "Search for Fruit" %>
      <%= f.text_field :search %>

      <%= f.submit "Search" %>
   <% end %>
</div>